celery==5.2.7
Django==4.1.4
django-cors-headers==3.13.0
django-filter==22.1
django-guardian==2.4.0
djangorestframework==3.14.0
djangorestframework-guardian==0.3.0
drf-yasg==1.21.4
opencv-python
Pillow==9.2.0
redis==4.3.4
